.fof
  .fof-bg
    h1 404

  .fof-content
    h1 The page you requested doesn't exist.
    br

    h3 What are you up to? You snoopin' around?
    br

    h3 Either way,
      a(href='/')  go back
      |  and read some more articles or write me a
      a(href='mailto:hi@djv.io')  love letter
      |  !

