doctype
html.no-js
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content="This is Damion Vega's official personal site. Not to be confused with the many impostor sites.")
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='shortcut icon' href='/images/apple-touch-icon.png')
    link(rel='shortcut icon' href='/images/favicon.ico')

    if current.source == 'aboot'
      link(rel='stylesheet' href='/styles/djv.css')
      link(rel='dns-prefetch' href='//www.google-analytics.com')
      link(rel='dns-prefetch' href='//maps.googleapis.com')
    else
      link(rel='stylesheet' href='/styles/main.css')

    script(src='//use.typekit.net/idt4lmf.js')
    script.
      try { Typekit.load() } catch (e) {}


  body
    //if lt IE 11
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    // include ./_shared/nav.jade
    .wrap
      block content
        != yield

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107388676-1")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag(){ dataLayer.push(arguments) }
      gtag('js', new Date())
      gtag('config', 'UA-107388676-1')

