a(href='/about')
  .aboot
    h1 Top o' the mornin' to ya, Laddies!
    h4 It's great to have you here at my beautiful website!
    h4 Click anywhere to enter
    img(src='images/kilted.jpg')

// for article, slug in public.articles._data
//   div
//     a(href='/articles/#{slug}')= article.title
