h1.text-center I'm working on it...

p.text-center
  a(href='mailto:hi@djv.io') Write me a love letter
  | ,
  a(href='https://twitter.com/damion_vega')  tweet at me,
  |  or
  a(href='/about')  look at what was previously here
  |  in the meantime.

