h1 Welcome !!!
h3 This is yours. Enjoy.

for article, slug in public.articles._data
  div
    a(href='/articles/#{slug}')= article.title


doctype html.no-js
head
    meta(charset='utf-8')
    |   
    title Damion Vega
    |   
    meta(name='description', content="This is Damion Vega's official personal site, not to be confused with the many impostor sites.")
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    |   
    link(rel='dns-prefetch', href='//www.google-analytics.com')
    |   
    link(rel='dns-prefetch', href='//maps.googleapis.com')
    |   
    link(rel='shortcut icon', href='images/apple-touch-icon.png')
    |   
    link(rel='shortcut icon', href='images/favicon.ico')
    |   
    style.
      @font-face {
      font-family: 'djv';
      src:url('fonts/djv.eot?20y4ym');
      src:url('fonts/djv.eot?#iefix20y4ym') format('embedded-opentype'),
      url('fonts/djv.woff?20y4ym') format('woff'),
      url('fonts/djv.ttf?20y4ym') format('truetype'),
      url('fonts/djv.svg?20y4ym#djv') format('svg');
      font-weight: normal;
      font-style: normal;
      }
      .djv-thumbs-up:before { content: "\e602"; }
      .djv-thumbs-down:before { content: "\e603"; }
      #confirmBg {
      position:fixed; top:0; right:0; bottom:0; left:0; z-index:13; display:none; width:100%;
      background:url(images/1blur.jpg)60% 100% no-repeat; background-size:cover;
      }
      #confirmBox {
      position:fixed; top:10rem; z-index:13; display:none; width:100%;
      border:1px solid transparent;
      }
      #confirmBox .banner {
      background:url(images/warning.jpg); height:2rem; width:100%; border-radius:3px 3px 0 0;
      }
      #confirmBox .disclaimer {
      background:rgba(250,250,255,.15); padding:2rem; font-size:1.2rem; color:ivory;
      }
      #confirmBox i { margin:0 .5rem 0 0; font-size:1.2rem; }
      #confirmBox button {
      width:50%; float:left; border:1px solid white; background:white; font-size:1.2rem;
      font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; padding:.5rem 0;
      outline:none; appearance:none;
      }
      #confirmBox .no { background:#ffcccc; }
      #confirmBox .no:hover { background:#ff2828; color:white; }
      #confirmBox .yes { background:#dbfccf; }
      #confirmBox .yes:hover { background:#3dba10; color:white; }
      @media screen and (min-width:60em) {
      #confirmBg { background-position:0 100%; }
      #confirmBox { border-radius:3px 3px 0 0; }
      }
      @media screen and (min-width:40em) {
      #confirmBox { left:25%; width:50%; }
      }
      .conceal {
      opacity: 0; width:0; height:0;
      -webkit-transition: width 0s 1s, height 0s 1s, opacity 1.4s;
      -moz-transition: width 0s 1s, height 0s 1s, opacity 1.4s;
      -o-transition: width 0s 1s, height 0s 1s, opacity 1.4s;
      -ms-transition: width 0s 1s, height 0s 1s, opacity 1.4s;
      transition: width 0s 1s, height 0s 1s, opacity 1.4s;
      }
    |   
    script(type='text/javascript', src='//use.typekit.net/idt4lmf.js')
    |   
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='bower/normalize.css/normalize.css')
    |   
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    |   
    #confirmBg
      #confirmBox
        .banner
        |       
        #disclaimer.disclaimer
        |       
        button.no(type='submit')
          i.djv-thumbs-down
          | No way, Jos&eacute;
        |       
        button.yes(type='submit')
          i.djv-thumbs-up
          | Fonzy Cool
    | &#x9;
    script.
      var confirmBg = document.getElementById('confirmBg'),
      confirmBox = document.getElementById('confirmBox');
      confirmBg.style.display = 'block';
      confirmBox.style.display = 'block';
      confirmBg.style.height = window.innerHeight + 'px';
      document.getElementById('disclaimer').innerHTML =
      'This website contains an \\'F\' word, two \'S\' words and I believe I may have even' +
      ' used the \\'E\' word (entrepreneur) <br/><br/>You cool with this?';
      document.getElementsByTagName('button')[0].addEventListener('click', function() {
      document.body.style.webkitTransition = '1s';
      document.body.style.mozTransition = '1s';
      document.body.style.msTransition = '1s';
      document.body.style.oTransition = '1s';
      document.body.style.transition = '1s';
      document.body.style.opacity = 0;
      setTimeout(function() {
      window.location.href = 'http://www.nocussing.com';
      }, 600);
      });
      document.getElementsByTagName('button')[1].addEventListener('click', function() {
      confirmBg.classList.add('conceal');
      setTimeout(function() {
      confirmBox.style.display = 'none';
      confirmBg.style.display = 'none';
      },1000);
      });
    |   
    main
      #fix
        section.first
        |       
        section.second
      |     
      ul#lax.lax
        li
          section.pane.a
        |       
        section.pane.mob-a
        |       
        li
          section#map.pane.map
        |       
        section.pane.mob-b
        |       
        li
          section.pane.b
        |       
        section.pane.mob-c
        |       
        li
          section.pane.c
        |       
        section.pane.mob-d
        |       
        section.pane.mob-e
        |       
        section.pane.mob-f
      |     
      #content.content.row
        section.one
          h2.tagname
            | Hi, I&apos;m 
            span.name Damion.
          |         
          h2.tagline Your new favorite
          |         
          .tagblock
            h1#ux UX Designer
            |           
            h1#dev
              span.decor &amp;
              | Developer
        |       
        article.two.md10
          h2 And this is what following your dreams looks like
          |         
          .bg.clearfix
            p.md6.left
              | You have a great idea with big plans that you want to share with the world,
              | all you need is a little capital to get it past a simple prototype mockup and some people
              | to get behind the idea and make it for you. 
              br
              | Well, I&apos;m here to say that it&apos;s not as
              |             easy as it sounds, and those people are humans; not &apos;things&apos; for you to gamble on your
              |             &apos;Facebook killer&apos;. The road is much longer than you&apos;d expect and full of abrupt
              |             detours &amp; accidents. The only map for your company is the one you create and it&apos;s not uncommon to break down in the middle of the desert with zero water.
            |           
            p.md6.left
              | I&apos;ve learned that you should only build a business around something you truly believe in
              | -as your product or service will become your life-, live and work on it
              | every minute you&apos;re awake, hire people smarter than you who you would enjoy working
              | with, learn to take rejection the right way and how to calmly persevere.
              br
              | If you take all of this and add a bit of luck, you have a chance of taking it from that mockup or static page
              |             to startup to an actual profit-earning business.
              br
              |  Let me start from the beginning...
            |           
            .blur
        |       
        article.three.md12
          .md6.left.pad
            h2 The sixty mile hike
            |           
            p.bg.clearfix
              | My friend Scott and I had gone on a sixty mile hike back home after he had gotten into an argument with his girlfriend during a camping trip with her family. He asked &quot;You&apos;re walking back with me?&quot; I replied with a stern look, &quot;Yeah- what else am I going to do, hang out with your girlfriend and her family? Let&apos;s get out of here.&quot; This is a story for another time, the short version is: we walked and talked about all of the dreams we wanted to achieve in our lives for eight miles and a tow truck driver pulled over and asked &quot;Where you boys headed?&quot; luckily, he was taking a load to Sacramento where we lived at the time and we hopped in. 
              br
              | The discussion in the portion we actually did end up walking was a turning point in both of our lives and we came to the conclusion that motorcycles are fun and all, but we didn&apos;t want to build with our hands anymore, but our minds. Everything starts with an idea.
          |         
          .md6.right
            h2 The big idea
            |           
            p.bg.clearfix
              | The concept was a platform where you would be able to trade apps with others: if you had a $20 app you could trade straight across with another person who had an app of the same value, if the person&apos;s app was less valuable, you would be credited the difference for future trade. In retrospect, we were planning the Napster for apps without knowing it.
              | Scott asked me &apos;How are we going to do this?&apos;. We didn&apos;t have the money to hire a developer to build it for us, neither of us had CS degrees or any friends in the industry to help us. So I replied with the only option we had, &apos;I can probably make it, I have Dreamweaver on my computer.&apos; How na&iuml;ve.
              br
              | I was kind of a computer nerd in my middle school to early high school years when I wasn&apos;t on my skateboard; playing Counter-Strike, installing mods &amp; skins into their proper directories and playing around with my MySpace 
              code img
              |  tags and hex colors was easy enough, &apos;I can figure it out&apos; I thought to myself. If you google image search 
              code motorcycle wiring diagram
              | , this was what I was comparing it to at the time; just another thing I had no idea about to learn without a proper teacher.
              |             
              br
              | During this time there wasn&apos;t the same programming education there is now and I had a really hard time figuring out what you needed to even build a static page, let alone a trading application.
              |             After reading countless blogs and stackoverflow answers, I was able to produce landing pages in HTML &amp; CSS relatively easily with all of the tricks I&apos;ve learned. But how do we make these interactive? JavaScript? Is that like this PHP thing? Oh it&apos;s Java, no? What&apos;s a localhost? Terminal? You mean that black &amp; green interface Jason Bourne uses? You have to be some kind of genius to use that though, don&apos;t you?
        |       
        article.four.clearfix
          .md6.left.pad.clearfix
            h2 Discovery
            |           
            p.bg.clearfix
              | After spending a year with my face attached to my computer screen, I eventually
              | learned all of these basic fundamentals to build both Scott and I websites as
              | well as our dream company website, a creative thinktank we called DNSD Global
              | Ventures. Under this name housed our army of ideas we talked about during the
              | course of the year: Map The Move, Tennup, AutoGeni.us, First Date Genius and
              | Gifts of Treasure to name a few.
              br
              | We had an ongoing joke, &apos;wanna drive to Silicon Valley? Right now?&apos; which
              |             we figured was the only solution to get one of these ideas off the ground and
              |             come to fruition (yep, we were one of 
              em those guys
              | ). We came to an
              |             agreement that if one of us said it again that we would pack our bikes into
              |             the back of the truck and start driving. That day inevitably came not long thereafter.
          |         
          .md6.right
            h2 Adventure
            |           
            .bg.clearfix
              p
                | I planned our trip itinerary from Denver through Salt Lake City, Reno then Sacramento which consisted of:
              |             
              ul.checklist
                li 1,279 miles
                |               
                li one truck
                |               
                li two motorcycles
                |               
                li four bags of clothes
                |               
                li two pairs of sunglasses
                |               
                li one guitar
                |               
                li one welder
                |               
                li tools
                |               
                li not nearly enough money to cover the trip.
              |             
              p Perfect. This is what everyone does, right?
              |             
              p.tiny
                | I found the answer to this later when I asked our friend Jake the same question after we rode trash cans down a hill in San Francisco with him. &quot;No,&quot; he laughed, &quot;no one does that.&quot;
              |             
              p
                | We drove through the night and the trip had begun. I had faith the truck would
                | make it- it had more balls than the Broncos&apos; locker room, could take a side swipe
                | from a smart car no problem, had no power steering and a granny four on the floor;
                | add a little 
                span.motorhead Mot&ouml;rhead
                |  at full volume and
                |               you&apos;ve got yourself a machine built for the road (yes, none of these are deciding
                |               factors when embarking on a trip half way across the country, but I had you going,
                |               didn&apos;t I?).
                |               
                br
                | We eventually arrived to Salt Lake City where we were invited to stay
                |               at Scott&apos;s ex-girlfriend&apos;s friend&apos;s place. Ironically, this friend would
                |               slowly turn into my girlfriend sometime during the trip.  While we were exiting off of
                |               the highway I noticed the truck lost some power, but we decided to fix it the next day and
                |               get some much needed sleep.
        |       
        article.five.clearfix
          h2 It happens
          |           
          .bg.clearfix
            p.md6.left
              | After some quick tinkering the next day, we were on our way west again.
              | We got on the highway and drove approximately thirty miles, then suddenly, smoke
              | came barreling out of the hood. From a distance it probably looked like a truck on
              | fire with two motocycles driving it; this couldn&apos;t be good. We let the smoke settle
              | and I tried starting it. Nothing. Turned the key again with a couple taps of the gas.
              | Nothing. The first thing we noticed after checking the levels was we were dangerously
              | low on oil and the coolant was nonexistant. The only oil we had was in one of our
              | bikes and we had to put it in the truck. We jerry-rigged a &apos;solution&apos; for the coolant
              | with two permanent markers blocking the coolant line to the reservoir and to go one direction-
              | into the motor. We decided to try to get back to a little gas station we stopped at ten
              | miles back to get some oil and find a better fix for the coolant.
              br
              | After what seemed like hours, the truck still wasn&apos;t starting and there was really only one option: Dreamweaver.
              |             Just kidding, there was a small decline behind us and I said, &quot;If we push the truck
              |             down that way, I can jump in and try to start the truck by popping the clutch.&quot;
              |             This was a long shot, we would be lucky to get the truck going fifteen miles per hour
              |             down this dinky little downgrade and were going to be in an even worse situation if it
              |             didn&apos;t work considering we wouldn&apos;t be visible from the highway anymore, but we had to try.
            |             
            p.md6.left
              | We rolled the truck back, turned it around and looked at each other. We took a
              | deep breath, gave each other a nod and began pushing the big hunk of metal down the
              | slope like a pair of bobsledders at their first Olympic Games. I jumped in and pushed
              | the clutch in and with my lips tucked into my mouth and brows pushed tight, I snapped
              | the clutch and slammed the gas- nothing. &quot;SHIT!&quot; I exclaimed, &quot;Keep pushing!&quot; I pushed
              | the clutch again and spoke with the truck, &quot;C&apos;mon LaFonda, you can do it.&quot; We were
              | almost to the bottom of the downgrade, it was now or never. I popped the clutch and
              | slammed the gas again and this time the motor roared! Scott jumped in the window and
              | we yelled with excitement with our fists out the windows, &quot;YEEEAAHHHHHHHH FUCK YEAH!!!!&quot;
              | In my state of superhuman euphoria, I had a Lieutenant Dan moment and screamed at the
              | sky while seeing red, &quot;IS THAT ALL YOU&apos;VE GOT?!&quot; We were super hyped and continued
              | down this windy dirt road hoping that it eventually hooked back to the highway.
              | It did and we broke down five miles later. Either that wasn&apos;t all &apos;he&apos; had, or
              | that oil from the bike didn&apos;t last very long.
        |         
        article.six.clearfix
          .md6.left.pad
            h2 Plan B
            |           
            .bg.clearfix
              p
                | Someone pulled over and towed us to the gas station and while I was somewhat elated
                | to get off the side of the highway, I had to ask our Salt Lake City hosts for another
                | night. After getting the OK, we somehow got back to their house and one night turned
                | into a week and a half and a pissed off roomate- we had to get out of there and
                | tried to get to Reno four separate times, but the truck was not cooperating.
              |             
              p
                | We later found out that the guy who sold us the truck had the wrong radiator in the
                | truck, it was meant for a v6, not a v8 and thus, not cooling the motor properly and burning
                | oil excessively. We decided to sell everything we had and fly to San Jose.
          |         
          blockquote.md6.right
            p
              | &quot;Desire. The starting point of all achievement. The first step toward riches.
              br
              |             Every person who wins in an undertaking must be willing to burn his ships and cut
              |             all sources of retreat. Only by so doing, can one be sure of maintaining that
              |             state of mind known as a &apos;burning desire to win&apos;, essential to success.
              |             
              br
              | Every human being who reaches the age of understanding of the purpose of money wishes for it.
              |             Wishing will not bring riches.
              |             But desiring riches with a state of mind that becomes an obsession, then planning definite ways and means to acquire riches, and backing those plans with persistence which does not recognize failure, will bring riches.&quot;
            |           
            h6  - Napoleon Hill
          |         
          h2.clearfix Land of Tech
          |         
          .bg.clearfix
            p.md6.left.pad
              | We landed in San Jose and took a shuttle to the CalTran where we ran into a developer
              | who was visiting a friend. I thought, &quot;This is great, we&apos;ve been here twenty minutes
              | and are already running into people to talk to.&quot; We later booked a stay at a
              | &apos;Hacker Mansion&apos; via Airbnb- awesome. We envisioned a house with whiteboards for
              | walls and ideas bouncing off of these whiteboards, but it ended up being a house
              | full of twenty-something-year-old kids drooling about how great it was to see Mark Zuckerberg speak at Startup
              | School and all of the other tech celebrities they saw.
            |           
            p.md6.left
              | There were some smart minds
              | in that house, but we realized this wasn&apos;t the creative outlet we were looking for
              | and decided to pay a visit our buddy Jake in San Francisco after submitting our
              | Y Combinator application. Before writing this (April 8, 2014), I took a look at the
              | designs we had at the time and laughed. Even if we happened to get in front of an
              | investor, I&apos;m sure they would&apos;ve thought &quot;Hopefully these guys are better leaders
              | than web designers, because this&mldr; looks like they made it with Play-Doh.&quot;
              | Let&apos;s just say: we didn&apos;t get a call back.
        |       
        article.seven.clearfix
          h2 Fast-forward another year and a half
          |         
          .bg.clearfix
            p.md6.left
              | Since our Bay Area visit, I&apos;ve been busy doing actual web work and a ton of reading.
              | Web design &amp; development has taught me a lot, and ultimately brought to my realization that I am a man of user
              | experience and performance.
              br
              br
              |             I&apos;ve freelanced for peanuts, helped turn around a non-profit and joined a health
              |             startup until the sweat equity and eighty hour workweeks started affecting my client
              |             work. I&apos;ve come to understand the workflow, roles and importance of a team, the
              |             psychology of proper layout, the art of typography, how internet marketing, social
              |             marketing and SEO works, how to ship- not perfect, how open source is changing the
              |             way products that may have never been built- become a complete success, that
              |             JavaScript is not Java&apos;s sister, and that AJAX is
              |             definitely not a person -who would&apos;ve known?
            |           
            p.md6.left
              | I would have to say that AJAX was a turning point for me as a developer
              | once I finally understood it and had that &apos;holy shit&apos; moment. It&apos;s been difficult
              | without a mentor, yet fun relentlessly learning everything from front to back end:
              | Command Line Interface, Git, SSH, SFTP, Grunt, Gulp, VIM, Sass, HTML preprocessors,
              | the appreciation of jQuery, vanilla JS, Yeoman, Bower, NPM, Require.js, some Ruby/Rails
              | &amp; PHP/Symfony2, MySql, MongoDB, Redis, and a few Linux distros to the things I&apos;m
              | focused on now: Node.js, Angular, Ember and continuing business study. The future
              | of JS and the web as a whole is bright; I&apos;m working every day to master it
              | and work on meaningful projects with the people I meet. I&apos;m looking forward to
              | these next couple of years to see where this road of the internet takes me; with the
              | ships burned and the motivation to keep learning and build awesome things, I feel
              | this story has just begun.
          |         
          p.bg.clearfix.thankyou
            | If you&apos;ve ever spoken at a conference or created any kind of tool, instructional video, tutorial, blog or podcast teaching or inspiring quality design &amp; development, I thank you and would be honored to shake your hand. Your face is worthy of a spot on a box Wheaties in my book.
      |     
      section.work
        .wrap
          .front.side
            button#info.info.djv-info
          |         
          .back.side
            a.djv(href='https://plus.google.com/u/0/101268267392937451847?rel=author')
              img(src='images/djv.png', alt='Damion Vega')
            |           
            ul#profile
              li
                i.djv-profile(onclick='fader(eins)')
                p Damion Vega
              |             
              li
                i.djv-pin(onclick='fader(zwei)')
                p Denver, CO
              |             
              li
                i.djv-chat(onclick='fader(drei)')
                p
                  a.email hi at djv.io
            |           
            #about.about
              section#eins
                p
                  | I&apos;m mainly focused on user experience and JavaScript, but
                  | I&apos;m also interested in a lot of things in which I would like to explore in more depth,
                  | and would be grateful for any unique or hard-to-come-by resources involving the following:
                  br
                  |                 finance, economics, business investment, cognitive psychology, sociology,
                  |                 time &amp; energy efficiency, physics, film, writing, music theory.
                |               
                p
                  | If you&apos;re reading this and just getting into web development, here&apos;s a great
                  | place to start- I wish I would&apos;ve found this two years ago, as it could have saved me
                  | tons of time: 
                  a(href='https://www.youtube.com/watch?v=zXqs6X0lzKI') Youtube
              |             
              section#zwei
                p
                  | I currently reside in Denver, CO. 
                  br
                  | No, I don&apos;t smoke marijuana. No, I don&apos;t
                  |                 smoke cigarettes and ride horses. No, Denver is not in the mountains. Yes, we
                  |                 have roads made of asphalt and people drive on these roads with cars.
                  |                 
                  br
                  br
                  | I&apos;m mainly interested in remote work as it
                  |                 allows for me to make use of my ergonomic work station (armchair &amp; ottoman-
                  |                 
                  em really
                  |  good for the back) shoeless. Yet, I am interested in becoming
                  |                 a world traveler and would be interested in relocating
                  |                 to one of the following locations:
                |               
                ul
                  li Las Vegas
                  |                 
                  li San Francisco
                  |                 
                  li Chicago
                  |                 
                  li Vancouver
                  |                 
                  li Alaska
                  |                 
                  li New York
                  |                 
                  li Miami
                  |                 
                  li Melbourne
                  |                 
                  li Sydney
                  |                 
                  li Reykjav&iacute;k
                  |                 
                  li Anywhere in UK
                  |                 
                  li Ireland
                  |                 
                  li Johannesburg
                  |                 
                  li Cape Town
                  |                 
                  li S&atilde;o Paulo
                  |                 
                  li Buenos Aires
                  |                 
                  li Florian&oacute;polis
                  |                 
                  li Prague
                  |                 
                  li Barcelona
                  |                 
                  li Paris
                  |                 
                  li Geneva
                  |                 
                  li Antwerp
                  |                 
                  li Amsterdam
              |             
              section#drei
                p
                  | I forgot my facebook password sometime during the winter, and am pretty hyped
                  | as 5-45 minutes of this daily inbox checking is now reconsidered.
                  | Try it out for yourself if you&apos;re feeling brave. It&apos;s a shame how we have to fight for our own time
                  | these days and even worse: most people are instead wasting it on the latest app they&apos;ve downloaded.
                  br
                  br
                  |                 Which raises an important question: To create or consume?
                  |                 
                  br
                  br
                  |                 As I&apos;m not particularly interested in improving my social graph on any of the
                  |                 social networks, you can try me on twitter but the best way of contacting me is email.
                  |                 Feel free to contact me for anything design &amp; front-end, collaboration
                  |                 projects, ventures or _____________.
                |               
                p
                  | Email: 
                  a.email hi at djv.io
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower/jquery/dist/jquery.js')
    | &#x9;
    script(src='bower/letteringjs/jquery.lettering.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-42863971-1');ga('send','pageview');


