// Fonts
$font-micro    = .25em
$font-smallest = .5em
$font-smaller  = .8em
$font-small    = .9em
$font-base     = 1em
$font-large    = $font-base * 1.5
$font-larger   = $font-base * 2
$font-largest  = $font-base * 3
$font-jumbo    = $font-base * 5

$heading-one   = $font-base * 3
$heading-two   = $font-base * 2.75
$heading-three = $font-base * 2.2
$heading-four  = $font-base * 1.75
$heading-five  = $font-base * 1.2
$heading-six   = $font-base * 0.8

// z-indexes (no other values should be used for z-index)
$index-1 = 1
$index-2 = 2
$index-3 = 3
$index-4 = 4
$index-5 = 5
$index-6 = 6
$index-7 = 7
$index-8 = 8
$index-9 = 9

// Line height
$line-height-base  = 1.5
$line-height-tight = $line-height-base * 0.8
$line-height-loose = $line-height-base * 1.2

// Whitespace
$space                   = 30px
$ui-padding-extra-spaced = $space
$ui-padding-spaced       = $space/2
$ui-padding-default      = $space/3
$ui-padding-narrow       = $space/6

// Grid
$grid-width-full    = 100%
$grid-width-desktop = 70%
$grid-width-tablet  = 85%
$grid-width-mobile  = 90%

// Responsive breakpoints
$bp-phone        = 480px
$bp-phablet      = 600px
$bp-tablet       = 768px
$bp-desktop      = 900px
$bp-desktop-wide = 1200px

// Project specifics
$radius = 3px
$color-main  = #464646
$color-light = #484848
$color-ultralight = #555

