@import '_base'


//
// 404
//

.fof
  width 80%
  margin 0 auto
  text-align center

.fof-bg
  z-index -1
  display flex
  justify-content center

  h1
    font-size 30rem
    color floralwhite
    text-shadow 3px 3px 3px black(.1)

.fof-content
  margin-top -30rem

  h3
    cursor default
    line-height 0
    a
      font-size inherit



//
// Main wrap
//

.wrap
  padding 0 3rem

.text-center
  text-align center


//
// Index page
//

.project-link
  font-family 'essonnes-display', sans-serif
  font-size 2.8rem


//
// Articles
//

.article-main
  margin 0 auto
  width 50%
